@import "variables.scss";

body {
  font-family: 'Montserrat', sans-serif !important;
  background-color: $color_lightGray;
}

.wrapper {
  max-width: $size_max;
  min-width: $size_min;
  margin: 0 auto;
  box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.75);
}

.margin-top-10 {
  margin-top: 10px;
}

.display-none {
  display: none !important;
}