$color_violet: #8D81AC;
$color_violetDark: #635C73;

$color_charcoal: #27262A;
$color_asphalt: #333333;

$color_lightGray: #F4F4F4;
$color_gray: #b8c0c7;
$color_darkGray: #848E97;

$color_white: white;
$color_whitePale: rgba(255, 255, 255, 0.1);
$color_blackPale: rgba(0, 0, 0, 0.2);

$size_min: 320px;
$size_menu_min: 256px;
$size_s: "only screen and (max-width : 480px)";
$size_m: "only screen and (max-width : 992px)";
$size_max: 1200px;
